.image-details {
    width: 70%;
    object-fit: contain;
}

.show-more-light {
    border: none;
    background-color: transparent;
    color:  white;
    padding: 0;
}

.show-more-light:hover {
    color: #15f5b9a8;
}

.show-more-dark {
    border: none;
    background-color: transparent;
    color: #212121;
    padding:0;
}

.show-more-dark:hover {
    color: #15f5b9a8;
}