.theme-light-style {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7em;
    border: none;
    border-radius: 10%;
    background-color: #212121;
    color: white;
}

.theme-dark-style {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7em;
    border: none;
    border-radius: 10%;
    background-color: #15F5BA;
    color: white;
}

.margin-custom {
    margin-left: auto;
}
